@import 'tailwindcss';

:root {
  --background: #fcfcfe;
  --foreground: #171717;
  --background-navi: #f6f6fb;
  --background-selected: #dad8fb;
  --background-navi-secondary: #eff0fb;
  --text-primary: #090b12;
  --text-secondary: #727282;
  --text-green: #6cc681;
  --text-active: #7375e5;
  --border-container: #d8d9de;
  --background-item: #f2f3fe;
  --accent-color: #6049d0;
  --text-light: #fcfcfe;
}

:root[data-theme='dark'] {
  --background: #090b12;
  --foreground: #171717;
  --background-navi: #0f151d;
  --background-navi-secondary: #1a1f29;
  --background-selected: #25293d;
  --text-primary: #fcfcfe;
  --text-secondary: #b9c4d0;
  --text-active: #7375e5;
  --text-green: #6cc681;
  --border-container: #33374a;
  --background-item: #151a22;
  --accent-color: #6049d0;
  --text-light: #fcfcfe;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
